name: Docker Release Image Create and Push To Docker HUB

on:
  push:
    tags:
      - 'v2'

jobs:
  build-and-push-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup BRANCH_VERSION
      run: |
        BRANCH_VERSION=$(echo "${{ github.ref_name }}" | sed 's|\(v[0-9]\.[0-9]\).*|\1|')
        if ! echo "$BRANCH_VERSION" | grep -q "v[0-9]\.[0-9]"; then
          echo "Error: Invalid version format. Expected format is vX.Y"
          exit 1
        fi
        echo "BRANCH_VERSION=${BRANCH_VERSION}" >> $GITHUB_ENV

    - name: Build Docker image
      run: ./build.sh docker

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker image
      run: |
        docker tag portsentry:unstable portsentry/portsentry:latest
        docker tag portsentry:unstable portsentry/portsentry:${{ github.ref_name }}
        docker tag portsentry:unstable portsentry/portsentry:${{ env.BRANCH_VERSION }}
        docker push portsentry/portsentry:latest
        docker push portsentry/portsentry:${{ github.ref_name }}
        docker push portsentry/portsentry:${{ env.BRANCH_VERSION }}

